body{
    background-color: grey;
}


figure {
    margin: 0;
}

#mouseTarget {
    box-sizing: border-box;
    width: 15rem;
    border: 1px solid #333;
  }

  li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  
  